{% extends 'index.html' %}
{% block title %}
<title>Binomial</title>
{% endblock %}

{% block content %}
<div class="container col-md-6 offset-md-3 ">
    <div class="card mt-3">
        <div class="card-header">
            <h1 class="col-md text-center"><b>Calculo de probabilidad Binomial</b></h1>
        </div>
        <div class="card-body">

            <form action="{{ url_for('calcularBinomial')}}" method="POST">
                <div class="form-group col-md-8 offset-md-2 mt-3">
                    <label for="muestra" class="float-left"><b>Tamaño de muestra (n):</b></label>
                    <input type="text" class="form-control ml-2 col-md-2 float-left" name="muestra" required placeholder="n">
                </div>
                <br>
                <br>
                <div class="form-group col-md-8 offset-md-2 mt-4">
                    <label for="x1" class="float-left"><b>Rango de exitos deseados (x):</b></label>
                    <input type="text" class="form-control ml-2 col-md-2 float-left" name="x1" placeholder="Menor" required>
                    <input type="text" class="form-control ml-2 col-md-2 float-left" name="x2" placeholder="Mayor" required>

                </div>
                <br>
                <br>
                <div class="form-group col-md-8 offset-md-2 mt-4">
                    <label for="p" class="float-left"><b>Probabilidad de exito (p):</b></label>
                    <input type="text" class="form-control ml-2 col-md-2 float-left" name="p" placeholder="%" required>
                </div>
                <br>
                <br>
                <div class="form-group col-md-8 offset-md-2 mt-4">
                    <label for="N" class="float-left"><b>Poblacion (N):</b></label>
                    <input type="text" class="form-control ml-2 col-md-2 float-left" name="N" placeholder="N">
                </div>
                <br><br>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary "> Calcular</button>
                </div>
            </form>
            {% with mess=get_flashed_messages() %}
            {% if mess %}
            {% for m in mess %}
            <div class="alert alert-danger alert-dismissible col-md">
                <button class="close" type="button" data-dismiss="alert">&times;</button>
                <strong>{{m}}</strong>
                
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
</div>


{% endblock %}